/* General */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* MAIN SECTION  */

.main img {
  width: 100%;
}

.main h2, .debate h2 {
  font: bold 16px/24px sans-serif;
  color: #C0D7CF;
}

.main h3 {
  font: 700 22px/24px sans-serif;

}

.main p {
  font: 13px/18px arial;
}

/* DEBATE SECTION  */

.debate img {
  width: 63px;
  float: left;
}

.debate2 img{  
  float: right;
  left: 50px;
}

.debate1 {
  border-top: 4px solid rgb(249, 40, 89);
  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
}

.debate2 {

  border-top: 1px solid lightgray;
  border-bottom: 4px solid rgb(28, 135, 251);
}

/* OPINION SECTION  */

.opinion div {
  border-bottom: 2px solid lightgray;
}

/* MORE STORIES SECTION  */

.more-stories img {
  float: left;
  width: 95px;
}

.more-stories div {
  border-top: 2px solid lightgray;
  padding: 5px;
}

/* HEROES OF THE PANDEMIC  */

.heroes-pandemic img {
  width: 100%;
}

/* CULTURE & TRAVEL  */

.culture-travel img {
  width: 100%;
}